.communityCover__container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--background-image);
}

.communityCover__container[data-cover-scroll='true'] {
  position: fixed;
  top: 0;
  z-index: 1;
  padding-top: 6.375rem;
  transition: transform 0.3s ease-in;
  transform: translateY(-5%);
}

.communityCover__container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(25px);
  backdrop-filter: blur(1px);
  z-index: -1;
}

.communityCover__privateIcon {
  width: 1.25rem;
  height: 1rem;
  fill: var(--asc-color-white);
  margin-left: 0.5rem;
}

.communityCover__topBar {
  position: absolute;
  top: 2rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
}

.communityCover__topBarLeft {
  display: flex;
  align-items: center;
}

.communityCover__communityName {
  margin: 0 0.25rem;
  color: var(--asc-color-white);
}

.communityCover__backButton {
  fill: var(--asc-color-primary-shade4);
  background: rgb(0 0 0 / 50%);
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.communityCover__menuButton {
  fill: var(--asc-color-primary-shade4);
  background: rgb(0 0 0 / 50%);
  border-radius: 50%;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

@media (width >= 48em) {
  .communityCover__container {
    padding-top: 50%;
    max-height: 17.0625rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .communityCover__container[data-cover-scroll='true'] {
    width: 100%;
    padding-top: 50%;
    position: relative;
  }

  .communityCover__container::before {
    content: none;
  }

  .communityCover__topBar {
    top: 1rem;
  }
}
