.communityCategories {
  gap: 0.25rem;
  display: flex;
  flex-wrap: nowrap;
}

.communityCategories__categoryChip {
  width: unset;
}

.communityCategories__categoryOverflow {
  width: min-content;
}

@media (width >= 48em) {
  .communityCategories {
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
  }
}
