.createCommunity {
  color: var(--asc-color-base-default);
}

.createCommunity__topBar {
  display: flex;
  justify-content: space-between;
  padding: 1.12rem 0.75rem;
}

.createCommunity__emptySpace {
  width: 1.5rem;
}

.createCommunity__title {
  color: var(--asc-color-base-default) !important;
}

.createCommunity__form {
  padding: 0.5rem 1rem 0;
}

.createCommunity__coverImageButton {
  position: relative;
  width: 100%;
  height: 11.75rem;
  background:
    linear-gradient(0deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 50%)) 100%,
    var(--asc-color-primary-shade3);
}

.createCommunity__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 40%) 100%);
}

.createCommunity__cameraIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 1.75rem;
  fill: var(--asc-color-white);
  opacity: 0.8;
}

.createCommunity__cameraInput {
  display: none;
}

.createCommunity__label {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  gap: 0.5rem;
}

.createCommunity__charactersCount {
  color: var(--asc-color-base-shade1);
  font-size: 0.8125rem;
}

.createCommunity__input {
  width: 100%;
  margin-top: 0.25rem;
  color: var(--asc-color-base-default);
  padding-bottom: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
}

.createCommunity__textarea {
  width: 100%;
  margin-top: 0.25rem;
  color: var(--asc-color-base-default);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.createCommunity__input::placeholder + .createCommunity__textarea::placeholder {
  color: var(--asc-color-base-shade3);
}

.createCommunity__optionalText {
  color: var(--asc-color-base-shade3);
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-left: 0.25rem;
}

.createCommunity__category {
  width: 100%;
}

.createCommunity__categoryButton {
  display: flex;
  align-items: center;
  width: 100%;
}

.createCommunity__categoryIcon {
  width: 1.5rem;
  height: 1.25rem;
  fill: var(--asc-color-base-shade2);
}

.createCommunity__selectedCategory {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
  color: var(--asc-color-base-shade3);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
}

.createCommunity__privacyChoicesWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.createCommunity__privacyTitle {
  display: flex;
  gap: 0.5rem;
}

.createCommunity__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.createCommunity__customRadio {
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--asc-color-base-shade3);
  background-color: var(--asc-color-white);
  transition: background 0.3s;
  padding: 0.25rem;
}

.createCommunity__hiddenRadio {
  display: none; /* Hides the default radio button */
}

/* Create the checked indicator */
.createCommunity__radio:checked + .createCommunity__customRadio::after {
  content: '';
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--asc-color-white);
  border: 1px solid var(--asc-color-primary-default);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

.createCommunity__hiddenRadio:checked + .createCommunity__customRadio {
  border-color: var(--asc-color-primary-default);
  background-color: var(--asc-color-primary-default);
}

.createCommunity__hiddenRadio:checked + .createCommunity__customRadio::after {
  opacity: 1;
}

.createCommunity__description {
  display: flex;
}

.createCommunity__memberWrap {
  border-top: 1px solid var(--asc-color-base-shade4);
}

.createCommunity__createButton {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  border-top: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
}

.createCommunity__categories {
  display: flex;
  gap: 0.25rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: baseline;
}

.createCommunity__categoriesWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.createCommunity__selectedCategoryWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25rem 0.25rem;
  gap: 0.5rem;
}

.createCommunity__selectedCategories {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border-radius: 1.5rem;
  border: 1px solid var(--asc-color-base-shade4);
  gap: 0.5rem;
}

.createCommunity__selectedCategoryName {
  color: var(--asc-color-base-default);
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 14.5rem;
}

.createCommunity__selectedCategoryTagAvatar div,
.createCommunity__selectedCategoryTagAvatar div img,
.createCommunity__selectedCategoryTagAvatarDefault {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.createCommunity__selectedCategoryAvatar div img,
.createCommunity__categoryAvatarDefault {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.createCommunity__removeCategory {
  fill: var(--asc-color-base-shade1);
}

.createCommunity__selectedUserWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.createCommunity__selectedUser {
  display: block;
  text-align: center;
}

.createCommunity__selectedUserAvatar {
  position: relative;
  display: flex;
  justify-content: center;
}

.createCommunity__selectedUserAvatarImage {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.createCommunity__removeUserButton {
  position: absolute;
  right: 0.3rem;
  top: 0;
}

.createCommunity__removeUser {
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--asc-color-background-transparent-black);
}

.createCommunity__selectedUserDisplayName {
  display: inline-block;
  justify-self: center;
  align-items: center;
  width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.25rem;
}
