.editPost {
  height: 100%;
  display: block;
  position: relative;
  background-color: var(--asc-color-background-default);
}

.editPost__form {
  max-height: 100%;
  overflow-y: scroll;
}

.editPost__form::-webkit-scrollbar {
  width: 0.5rem;
}

.editPost__topBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--asc-spacing-m1);
}

.editPost__formContent {
  max-height: auto;
  min-height: auto;
}

.editPost__input {
  padding: 1rem;
}

.editPost__placeholder {
  left: 1rem;
  top: 4.4rem;
}

.editPost__mentionContainer {
  display: none;
}

.editPost__ctaWrapper {
  display: none;
}

.editPost__cta {
  display: none;
}

.editPost__mention {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  max-height: 12.5rem;
  background-color: var(--asc-color-background-default);
}

.editPost__mention::-webkit-scrollbar {
  display: none;
}

.editPost__notificationContainer {
  bottom: 0;
  width: 100%;
  position: absolute;
}

.editPost__notification {
  bottom: 0;
  left: 1rem;
  gap: 0.75rem;
  display: flex;
  padding: 1rem;
  position: absolute;
  margin: 0 auto 1rem;
  border-radius: 0.5rem;
  justify-content: start;
  width: calc(100% - 2rem);
  box-shadow: var(--asc-box-shadow-03);
  font-size: var(--asc-text-font-size-md);
  color: var(--asc-color-background-default);
  background-color: var(--asc-color-secondary-default);
}

.editPost__notificationIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-background-default);
}

@media (width >= 48em) {
  .editPost {
    width: 30rem;
    position: static;
    border-radius: 0.75rem;
  }

  .editPost__topBar {
    display: none;
  }

  .editPost__formContent {
    overflow-y: auto;
    max-height: 55vh;
    min-height: 13rem;
    position: relative;
  }

  .editPost__input {
    padding: 1rem 1.5rem;
  }

  .editPost__placeholder {
    top: 1rem;
    left: 1.5rem;
  }

  .editPost__mentionContainer {
    z-index: 9999;
    display: block;
    width: 16.25rem;
    height: 16.5rem;
    position: relative;
    overflow-y: scroll;
    border-radius: 0.5rem;
    box-shadow: var(--asc-box-shadow-04);
    background-color: var(--asc-color-background-default);
  }

  .editPost__ctaWrapper {
    display: block;
    padding: 1rem 1.5rem;
  }

  .editPost__cta {
    width: 100%;
    display: block;
  }

  .editPost__mention {
    display: none;
  }

  .editPost__notificationContainer {
    top: 1.75rem;
    width: 30rem;
    bottom: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .editPost__notification {
    margin: 0;
    width: 22rem;
    position: static;
  }
}
